@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.background {
  height: 500px;
  font-family: 'Teko', sans-serif;
  display: flex;
  width: 80%;
  background-color: #8fa49c;
  align-items: center;
  justify-content: start;
  margin: auto;
  margin-top: 100px;
}

.image-container {
  width: 50%;
  height: 100%;
}
.form {
  margin: 0 auto;
}

.form form {
  margin-top: 20px;
}
.form form div {
  position: relative;
}
.form form div label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
  transition: 0.5s;
}
.form form div input {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 300px;
  background-color: transparent;
}

.form label {
  position: absolute;
}

.form h1 {
  font-size: 2.3rem;
}

.form h2 {
  font-size: 1.5rem;
}

.form input {
  font-family: sans-serif;
  letter-spacing: 1.3px;
  font-size: 0.8rem;
}

.form input:focus ~ label,
.form input:valid ~ label {
  top: -15px;
  left: 0;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
}
.form form input[type='submit'] {
  height: 50px;
  width: 300px;
  border: 3px solid green;
  background: transparent;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
}
.form form input[type='submit']:hover {
  border: 3px solid green;
  background: green;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.form h1,
.form h2 {
  margin: auto;
}

@media (max-width: 890px) {
  .image-container {
    display: none;
  }
}
