.buatakun {
  background: black;
  background-image: url("/images/kursi.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#h1 {
  color: rgb(7, 106, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
#kolom {
  background-color: grey;
  width: 700px;
  height: 500px;
  margin: 40px auto;
  background-image: url("/images/bata.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nama {
  margin-left: 15px;
  margin-top: 15px;
}

#judul1 {
  font-size: 45px;
  color: white;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#judul2 {
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#backname {
  margin-left: 95px;
  color: white;
}
#kirimdata {
  margin-left: 420px;
  background-color: #31d13f;
  color: black;
  font-size: 20px;
}
#gender_info {
  color: white;
  margin-left: 300px;
}
#gender_laki {
  margin-left: 95px;
}
#gender_pr {
  margin-left: 10px;
}
.warna_tulisan {
  color: white;
}
.labelnama {
  margin-left: 15px;
  margin-top: 15px;
  color: white;
}
